* body{
    margin: 0;
    
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  .subtle {
    color: #443973;
  }
  
  .main-card--container {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 300px));
    grid-gap: 50px;
    justify-content: space-around;
  }
  
  .card-container {
    margin: 25px auto 10px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-around;
    align-items: flex-start;
  }
  
  .card-container img {
    max-width: 100%;
    height: 250px;
  }
  
  .card {
    background-color: #ebe9e9;
    padding: 30px;
    margin: 20px;
    position: relative;
    box-shadow: 0 0 5px rgba(75, 75, 75, 0.07);
    z-index: 1;
    border-radius: 5px;
  }
  
  .card-body {
    display: inline-block;
  } 
  .card-author {
    display: block;
    font-size: 20px;
    margin: 15px 0 0;
    text-transform: uppercase;
  }
  
  .card-title {
    font-family:system-ui;
    font-size: 25px;
    font-weight: 300;
    line-height: 30px;
    margin: 10px 0;
    text-transform: capitalize;
  }
  

  
  @media (max-width: 998px) {
    .main-card--cointainer {
      display: grid;
      grid-template-columns: repeat(1, minmax(200px, 500px));
      grid-gap: 50px;
      justify-content: space-around;
    }
  }
  
  /* ---------- Button styles ------------------ */
  
  .navbar {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    
  }
  
  .navbar h1 {
    padding-bottom: 20px;
    text-transform: capitalize;
  }
  
  /** button group styles **/
  .btn-group {
    border-radius: 1rem;
    text-transform: capitalize;
  }
  .btn-group__item {
    border: none;
    font-family: system-ui;
    /* min-width: 6rem; */
    padding: 1.5rem 3rem;
    background-color: #ebe9e9;;
    cursor: pointer;
    margin: 0;
    font-size: 21px;
    box-shadow: inset 0px 0px 0px -15px rebeccapurple;
    transition: all 300ms ease-out;
    text-transform: capitalize;
  }
  .btn-group__item:last-child {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
  .btn-group__item:first-child {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }
  .btn-group__item:hover,
  .btn-group__item:focus {
    color: rebeccapurple;
    box-shadow: inset 0px -20px 0px -15px rebeccapurple;
  }
  .btn-group__item:focus {
    outline: none;
  }
  .btn-group__item:after {
    content: "✔️";
    margin-left: 0.5rem;
    display: inline-block;
    color: rebeccapurple;
    position: absolute;
    transform: translatey(10px);
    opacity: 0;
    transition: all 200ms ease-out;
  }
  .btn-group__item--active:after {
    opacity: 1;
    transform: translatey(-2px);
  }
  .card-title .card-price-symbol{
    font-size: 17px;
    top: -0.75em;
    position: relative;
  }
  .card-button{
  padding: 1.5em 3.1em;
  border: none;
  border-radius: 7px;
  font-size: 15px;
  color: #fff;
  background-color: rgba(255, 0, 0, 0.697);
  box-shadow: 2px 2px 25px -7px;
  float: right;
  }
  
.switch {
  margin-top: 10px;
  margin-left: 15px;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.cart{
    position: fixed;
      top: 5%;
      right: 2%;
      z-index: 100;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      border: 2px solid wheat;
      background-color: wheat;
      border-radius: 45%;
}